/* body {
    width: 100%;
    background-image: url("img/background-image.jpg");
    background-size: auto;
  } */


.devils-logo {
    width: 225px;
    height: 231px;
  }

  .title-font {
    font-family: "Orbitron", sans-serif;
  }